body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    height: 200px;
    width: 180px;
    border-radius: 20px;
}
.container{
    margin: 100px auto;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    background-color: lightblue;
    border-radius: 10px;
    border-bottom: 10px solid grey;
}
.content{
    margin-left: 5px;
}

